* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html,
body,
#root {
    height: 100%;
    color: white;
    background-color: rgb(5, 5, 22);
}

#root {
    padding: 1rem 0.5rem;
}